
/saved_model
/dist
credentials/credentials.json
/assets/models/*
assets/images/*
*.pyc
.env
.venv*

git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch ' --prune-empty --tag-name-filter cat -- --all